@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');
/* 
    font-family: 'Righteous', cursive;
    font-family: 'Sarala', sans-serif;
*/

body {
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 10%;
}

header li {
    display: inline-block;
}

header li a {
    color: #FFF2E7;
    font-size: 18px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400px;
    margin: 0px 10px;
}

main {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 50px;
}

.sessao-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 11%;
}

.containerTexto {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.sessao-1 .containerTexto h1 {
    color: #FFF2E7;
    font-size: 64px;
    font-weight: 400;
    font-family: 'Righteous', cursive;
}

.sessao-1 .containerTexto span {
    color: #ECD6C4;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Sarala', sans-serif;
}

.sessao-1 .containerTexto button {
    color: #2F2325;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Sarala', sans-serif;
    text-align: center;
    background-color: #ECD6C4;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 8px 13px;
    max-width: fit-content;
}

.sessao-1 .containerTexto button:hover {
    background-color: #e4cbb6;
    cursor: pointer;
}

.sessao-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin: 50px 0px;
}

.sessao-2 h2 {
    border-top: 0.4px solid  #FFF2E7;
    padding-top: 60px;
    font-family: 'Righteous', cursive;
    font-size: 24px;
    font-weight: 900;
    color: #FFF2E7;
    max-width: fit-content;
    margin-bottom: 20px;
}

.sessao-2 span {
    font-size: 18px;
    font-weight: 100;
    color: #ECD6C4;
}

footer {
    border-top: 0.4px solid #FFF2E7;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
}

footer .logo-ballerini {
    display: block;
    margin: auto;
}